@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}
input:focus + .error-input {
  display: none;
}
.quill {
  @apply border border-strock rounded-xl;
  border-radius: 10px;
  border: 1px solid var(--whitsh-strock-color, #f1f1f3);
  padding: 15px 25px;
  .ql-toolbar.ql-snow {
    border: none;
    background: none;
    @apply bg-text4 bg-opacity-10 inline-block rounded-xl py-3 px-5;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm;
  }
  .ql-editor {
    @apply pt-10;
  }
  .ql-editor.ql-blank::before {
    font-style: normal;
    @apply text-sm not-italic text-text4;
  }
}
.shadow-1 {
  box-shadow: 4px 4px 8px 0px rgba(226, 226, 226, 0.2),
    -4px 4px 8px 0px rgba(226, 226, 226, 0.2);
}
.ReactModal__Body--open {
  overflow: hidden;
}
// custom date picker
body {
  .react-date-picker {
    @apply w-full px-6 py-4 text-sm font-medium border rounded-xl placeholder:text-text4 dark:placeholder:text-text2 dark:text-white bg-transparent border-strock text-text1 dark:border-darkStroke;
    height: 54px;
    .react-date-picker__wrapper {
      @apply border-none justify-between items-center;
    }
    .react-date-picker__clear-button {
      @apply hidden;
    }
    .react-date-picker__inputGroup {
      min-width: 0;
      flex-grow: 0;
    }
    .react-date-picker__button {
      padding: 0;
    }
  }
  .react-date-picker__calendar .react-calendar {
    @apply border-none shadow rounded-lg;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    @apply bg-transparent;
  }
  .react-calendar__tile:not(
      .react-calendar__tile--active,
      .react-calendar__tile--now
    ):enabled:hover,
  .react-calendar__tile:not(
      .react-calendar__tile--active,
      .react-calendar__tile--now
    ):enabled:focus {
    @apply bg-transparent text-primary;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus,
  .react-calendar__tile--active,
  .react-calendar__tile--active:hover {
    @apply bg-primary text-white rounded-lg;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus,
  .react-calendar__tile--now,
  .react-calendar__tile--now:hover {
    @apply bg-secondary text-white rounded-lg;
  }
}
